@import url('./header.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* started at 9:28 4th of December, 2025 Tanvir R Tonoy */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}