/* Product tiles styling will be updated soon !  */
.tile{
 /* background-color: black; */
 margin-top: 1rem;
}

.tile ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0rem 1rem;
}

.tile ul li{
    /* background-color: #f3f3f3; */
    color: #333;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: row;
}
.tile ul li:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.tile ul li img{
    max-width: 100%;
    border-radius: .5rem;
    margin-bottom: .5rem;
}

.tile ul li .left{
    width: 25rem;
    /* background-color: white; */
    margin: .5rem;
    border-radius: .3rem;
}

ul li .right{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.tile ul li .left .buy-button{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    align-self: flex-start;
}   