*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --var1 : #758A93;
    --var2 : #ECD5BC;
    --var3 : #E9B63B;
    --var4 : #C66E52;
}

body{
    background-color: #f1f1f1;
    
}
